.containerContact100 {
    margin-top: -15px;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.wrapContact100 {
    width: 500px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    border-radius: 10px;
    overflow: hidden;
    padding: 42px 55px 45px;
}

.contact100Form {
    width: 100%;
}

.contact100FormTitle {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #ffffff;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

.validateInput {
    position: relative;
}
.wrapInput100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
    margin-bottom: 27px;
}

.validateInput {
    position: relative;
}

.labelInput100 {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
    padding-left: 5px;
}

.containerContact100FormBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.input100 {
    height: 40px;
}
.input100 {
    display: block;
    width: 100%;
    background: 0 0;
    font-family: Poppins-Medium;
    font-size: 18px;
    color: white;
    line-height: 1.2;
    padding: 0 5px;
}
.input {
    outline: none;
    border: none;
}

.contact100FormBtn {
    outline: none;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    border: none;
    outline: none!important;
    border: none;
    background-color: #00DBDE;
    background-image: linear-gradient(225deg, #007d9c 0%, #9f0265 100%);
}

.contact100FormBtn:hover{
    background-color: #00DBDE;
    background-image: linear-gradient(-225deg, #007d9c 0%, #9f0265 100%);
    color: rgb(0, 0, 0);
}

.wrapContact100FormBtn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}