@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


  body{
    margin-top: 110px;
    /* background-color: black; */
  }

  .textpurplelight {
    color: #f11946;
  }
  
  .textpurpledark {
    color: #f11946;
  }

  .fontBold {
    font-size: 1.25rem;
  }
  
  .activelink{
    background-color: rgb(89, 89, 89) !important;
    color: white !important;
  }
  .imgMode {
    cursor: pointer;
  }
  
  .imgdark{
    filter: invert(1);
  }

  .progress-bar {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 5px;
    background: rgb(180,58,58);
background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(253,29,29,1) 50%, rgba(69,122,252,1) 100%);
    transform-origin: 0%;
    z-index: 5;
    border-radius: 20px;
  }