@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  .textpurplelight {
    color: #f11946;
  }
  
  .textpurpledark {
    color: #f11946;
  }

  .fontBold {
    font-size: 1.25rem;
  }
  
  .activelink{
    background-color: rgb(89, 89, 89) !important;
    color: white !important;
  }
  .imgMode {
    cursor: pointer;
  }
  
  .imgdark{
    filter: invert(1);
  }