@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

.active {
  background-color: rgb(89, 89, 89) !important;
  color: white !important;
}

.textpurple {
  color: #f11946;
}

.intro {
  display: flex;

}

.introcont {
  /* color: white; */
  text-align: left;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  width: 80%;
  min-height: 600px;
}

.intro img {
  position: absolute;
  left: 0;
}

.introcont h1 b {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ffffff;
  background-image: linear-gradient(-225deg, #ffffff 0%, #e53da7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introcont p {
  letter-spacing: 2px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem !important;
  background-color: #ffffff;
  background-image: linear-gradient(-225deg, #ffffff 0%, #e53da7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.introcont h1 {
  background-color: #ffffff;
  background-image: linear-gradient(-225deg, #ffffff 0%, #e53da7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.introcont p {
  color: #ffffff;
  font-size: 20px;
  padding: 2px;
  padding-right: 20px;
  max-width: 70%;
}

.introcont span {
  background-color: #ffffff;
  background-image: linear-gradient(-225deg, #ffffff 0%, #e53da7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.typer div span {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ffffff;
  background-image: linear-gradient(225deg, #ffffff 0%, #e53da7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.photo {
  position: absolute;
  max-width: 100%;
  right: 0;
  z-index: -4;
  top: 0;
  opacity: 0.5;
}

.photo1{
  display: none;
}

.button {
  background-color: #00DBDE;
  background-image: linear-gradient(225deg, #007d9c 0%, #e53da7 100%);
  outline: none;
  border: none;
  color: white;
  border-radius: 4px;
}

.button {
  width: 150px;
}


.button:hover {
  background-color: #00DBDE;
  background-image: linear-gradient(-225deg, #0dd2d6 0%, #ff38d4 100%);
  color: rgb(0, 0, 0);
}

.youtube h2 {
  font-size: 2.5em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ffffff;
  background-image: linear-gradient(225deg, #ffffff 0%, #e53da7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgb(109, 3, 81) 0px 0px 30px;
}

.youtube p{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
}

.youtube {
  margin-top: 150px !important;
  max-width: 95%;
  margin: auto;
  
}

.contyoutube {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: auto;
}

.youtubevideos {
  backdrop-filter: blur(10px);
  /* padding: 10px; */
  width: 380px;
  max-height: 800px;
  border-radius: 5px;
  background-image: radial-gradient(circle 311px at 8.6% 27.9%, rgba(62, 147, 252, 0.57) 12.9%, rgba(239, 183, 192, 0.44) 91.2%);
  box-shadow: rgb(255, 193, 238) 0px 0px 4px;
  margin: 0 10px;
}

.contyoutubevideos {
  width: 100%;
  display: flex;
  /* margin: auto !important; */
  justify-content: space-evenly;
}

.youtubevideos div p {
  max-height: 150px;
}

.youtubevideos div button {
  max-height: 40px;
}

.videos {
  width: 380px;
  height: 225px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.watch {
  width: 150px;
  border-radius: 4px;
  background-color: #00DBDE;
  background-image: linear-gradient(225deg, #007d9c 0%, #e53da7 100%);
  outline: none;
  border: none;
  color: white;
  margin: 0 10px;
}

.watch:hover {
  background-color: #00DBDE;
  background-image: linear-gradient(-225deg, #0dd2d6 0%, #ff38d4 100%);
  color: rgb(0, 0, 0);
}

.videotext {
  height: 150px;
}

.videotext p{
  background-color: #ffffff;
  background-image: linear-gradient(-225deg, #000000 0%, #3e023c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgb(0, 0, 0) 0px 0px 50px;
  font-weight: bolder;
}

.videotext h4{
  background-color: #ffffff;
  background-image: linear-gradient(225deg, #2d0000 0%, #5a0239 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgb(83, 1, 64) 0px 0px 50px;
}

@media screen and (max-width: 767px) {
  .contyoutubevideos {
    display: flex;
    flex-direction: column;
  }

  .youtubevideos {
    margin: 10px auto;
  }

  .photo1 {
    rotate: -90deg;
    display: block;
    position: absolute;
    max-width: 100%;
    top: 0;
    right: 0;
    z-index: -4;
    margin-right: auto;
    opacity: 0.5;
  }

  .photo {
    display: none;
  }

  .introcont {
    text-align: center;
    width: 100%;
  }

  .introcont p {
    padding: 0;
    margin: auto;
  }

}

@media screen and (max-width: 1223px) {
  .videos {
    width: 240px;
    height: 160px;
  }

  .youtubevideos {
    width: 240px;
  }

}