@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}



.active{
  background-color: rgb(89, 89, 89) !important;
  color: white !important;
}



.textpurplelight {
  color: #f11946;
}

.textpurpledark {
  color: #f11946;
}

.introlight {
  display: flex;
  background-color: white;
}

.introdark {
  display: flex;
  background-color: rgb(21,32,43);
}

.introcontdark {
  color: white;
  text-align: left;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  width: 70%;
  min-height: 400px;
}


.introcontlight {
  text-align: left;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  width: 70%;
  min-height: 400px;
}

.introcontdark h1 b,.introcontlight h1 b {
  color: #f11946;
}

.introcontdark h1 {
  color: white;
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.introcontlight h1 {
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.introcontlight p {
  padding: 2px;
  padding-right: 20px;
}

.introcontdark p {
  color: white;
  padding: 2px;
  padding-right: 20px;
}

.introcontlight span {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.introcontdark span {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.typer {
  font-weight: bold;
  color: #f11946;
}

.photo {
  background-size: cover;
  width: 45%;
  min-height: 400px;
  float: right;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  filter: saturate(1.3);
}

.btncourse {
  background-color: #f11946;
  outline: none;
  color: white;
}

.btncourse:hover{
  background-color: black;
  color: white;
}

.youtubelight h2 {
  font-size: 2.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #f11946;
}

.youtubedark h2 {
  background-color: rgb(21,32,43) ;
  font-size: 2.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #f11946;
}

.contyoutube {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: auto;
}

.youtubevideoslight {
  /* padding: 10px; */
  width: 380px;
  max-height: 800px;
  border-radius: 30px;
  box-shadow: 0 0 5px black;
  margin: 0 10px;
}

.youtubevideosdark {
  /* padding: 10px; */
  width: 380px;
  max-height: 800px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  margin: 0 10px;
}

.contyoutubevideos {
  width: 100%;
  display: flex;
  /* margin: auto !important; */
  justify-content: space-evenly;
}

.youtubevideoslight div p {
  max-height: 150px;
}

.youtubevideoslight div button {
  max-height: 40px;
}

.youtubevideosdark div p {
  max-height: 150px;
}

.youtubevideosdark div button {
  max-height: 40px;
}

.videos {
  width: 380px;
  height: 225px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.watch {
  border-radius: 30px;
  width: 50%;
  background-color: #f11946;
  color: white;
  position: static;
  bottom: 0;
  margin: 0 10px;
}

.watch:hover{
  background-color: black;
  color: white;
}

@media screen and (max-width: 767px) {
  .contyoutubevideos {
    display: flex;
    flex-direction: column;
  }

  .youtubevideoslight {
    margin: 10px auto;
  }

  .youtubevideosdark {
    margin: 10px auto;
  }

  .photo {
    display: none;
  }

  .introcontdark,.introcontlight {
    text-align: center;
    width: 100%;
  }

  .introcontlight p,.introcontdark p {
    padding: 0;
  }



}

@media screen and (max-width: 1223px) {
  .videos {
    width: 240px;
    height: 160px;
  }

  .youtubevideoslight {
    width: 240px;
  }

  .youtubevideosdark {
    width: 240px;
  }

}

.containe{}