.sidebardark {
    background-color: rgb(21, 32, 43);
    box-shadow: 0 0 5px #D9EEE1;
}

.sidebardark,.sidebarlight{
    margin-top: -10px;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}

.sidebarlight {
    background-color: #D9EEE1;
    box-shadow: 0 0 5px rgb(21, 32, 43);
}

.sidebardark h3 {
    color: white;
    padding-left: 32px;
    margin-top: 15px;
}

.sidebarlight h3 {
    padding-left: 32px;
    margin-top: 15px;
}

.sidebardark a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* font-size: 15px; */
    margin-left: 15px;
    padding: 2px 15px 1px 16px;
}

.sidebarlight a {
    text-decoration: none;
    color: black;
    /* font-size: 15px; */
    margin-left: 15px;
    padding: 2px 15px 1px 16px;
}
.learncontdark,.learncontlight{
    /* padding-top: 120px; */
    width: 100%;
    margin-left: 350px;
}


.sidebardark a:hover {
    background-color: rgb(232, 232, 232);
    color: black;
}

.sidebarlight a:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}

@media screen and (max-width: 991px) {
    .sidebarlight {
        position: sticky;
        /* width: 250px; */
        width: 0;
        transition: 0.2s;
    }

    .sidebardark {
        /* position: absolute; */
        /* width: 250px; */
        width: 0;
        transition: 0.2s;
    }

    .sideopen {
        position: absolute;
        width: 200px;
        transition: 0.2s;
    }
    .learncontdark,.learncontlight{
        width: 100%;
        margin-left: 0px;
    }

}

.nextprev {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    /* Add space between playlist and navigation buttons */
}

.prev,
.next {
    padding: 10px;
    background-color: #f11946;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px 0;
    font-size: 1.2rem;
}

.prev:hover,
.next:hover {
    background-color: #000000;
    /* Darken the background on hover */
    text-decoration: none;
    color: white;
}

/* Html-Home */
.h2html {
    margin-top: 20px;
  }

.learnlight {
    display: flex;
}

.learndark {
    display: flex;
}

.learncontlight {
    /* width: 75%; */
    /* max-height: 600px; */
    overflow-y: auto;
}


.learncontdark {
    /* width: 75%; */
    /* max-height: 600px; */
    overflow-y: auto;
}

.languegecourselight {
    margin-top: 10px;
    background-color: #D9EEE1;
}

.languegecoursedark {
    margin-top: 10px;
    background-color: #193d3d;
}

.docpage p {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    letter-spacing: 1px;
}

.docpage {
    margin: 25px 0;
}

@media screen and (max-width: 991px) {
    .learncontdark,.learncontlight{
        width: 100%;
    }
}

.scrollmenulight::-webkit-scrollbar,.sidebarlight::-webkit-scrollbar,.learncontlight::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  .scrollmenulight::-webkit-scrollbar-track,.sidebarlight::-webkit-scrollbar-track,.learncontlight::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  .scrollmenulight::-webkit-scrollbar-thumb,.sidebarlight::-webkit-scrollbar-thumb,.learncontlight::-webkit-scrollbar-thumb {
    background-color: rgb(195, 195, 195);    /* color of the scroll thumb */
    border-radius: 20px;       
  }
  
  .scrollmenulight::-webkit-scrollbar-thumb:hover,.sidebarlight::-webkit-scrollbar-thumb:hover,.learncontlight::-webkit-scrollbar-thumb:hover {
    background-color: rgb(95, 95, 95);      
  }
  
  .scrollmenudark::-webkit-scrollbar-thumb:hover,.sidebardark::-webkit-scrollbar-thumb:hover,.learncontdark::-webkit-scrollbar-thumb:hover {
    background-color: rgb(227, 227, 227);      
  }
  
  .scrollmenudark::-webkit-scrollbar,.sidebardark::-webkit-scrollbar,.learncontdark::-webkit-scrollbar {
    width: 12px;
  }
  .scrollmenudark::-webkit-scrollbar-track,.sidebardark::-webkit-scrollbar-track,.learncontdark::-webkit-scrollbar-track {
    background: rgb(130, 130, 130);        /* color of the tracking area */
  }
  .scrollmenudark::-webkit-scrollbar-thumb,.sidebardark::-webkit-scrollbar-thumb,.learncontdark::-webkit-scrollbar-thumb {
    background-color: rgb(57, 57, 57);    /* color of the scroll thumb */
    border-radius: 20px;       
  }