.learnlight {
    display: flex;
}
  
.learndark {
    display: flex;
}

.learncontdark,.learncontlight{
    /* padding-top: 120px; */
    width: 100%;
    margin-left: 350px;
}

@media screen and (max-width: 991px) {
  
    .learncontdark,.learncontlight{
        width: 100%;
        margin-left: 0px;
    }

  }

  