.mainlight,.maindark{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 700px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 2px solid black; */
    border-radius: 10px;
}

.mainlight{
    box-shadow: 0 0 5px black;
}

.maindark{
    box-shadow: 0 0 5px rgb(255, 255, 255);
    background-color: rgb(8, 0, 28);
}

.photo{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.form{
    padding: 10px;
    margin: 5px;
}

.button{
    background-color: #f11946;
    color: white;
}

.button:hover{
    background-color: black;
    color: white;
}

.google{
    color: #f11946;
    font-size: 2rem;
}

.signusing{
    margin: 0 6px;
    font-size: 1.1rem;
    text-decoration: none;
    /* Remove the default underline */
    position: relative;
}

.signusing::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f11946;
    transform: translateY(8px);
}

.signusing:hover{
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .photo{
        display: none;
        max-width: 250px;
        max-height: 300px;
        margin: auto;
    }

    .image{
        margin: auto;
    }

    .form{
        padding: 5px;
        margin:0 5px;
        /* width: 500px; */
    }

    .main{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    /* .input{
        max-width: 650px;
    } */
  }
  